/* styles.css */
.compact-card {
    padding: 5px; 
    /* Reduce padding for a more compact look */
  }
  
  .car-make {
    font-size: 1.5rem; /* Increase font size for car make */
    font-weight: bold; /* Optional: Make the font bold for emphasis */
  }
  
  .btn {
    background-color: black; /* Set button background to black */
    border-color: black; /* Optional: Remove border */
  }
  
  .card-body {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align children vertically */
    justify-content: space-between; /* Space out items in the card */
    align-items: center; /* Center the button horizontally */
  }

  /* styles.css */
.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Custom shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
  }
  
  /* usedCarListing.css */

.pagination {
  background-color: rgb(255, 255, 255); /* Black background for the pagination */
  padding: 10px;
  border-radius: 5px; /* Optional: add rounded corners */
}

.page-item .page-link {
  color: rgb(0, 0, 0); /* White text color */
  border: 1px solid black;
  background-color: #ffffff; /* Darker shade for active page */
}

.page-item.active .page-link {
  background-color: #000000; /* Darker shade for active page */
  color: white; /* Ensure text is white */
}

.page-item.disabled .page-link {
  color: #000000; /* Gray color for disabled links */
  pointer-events: none; /* Disable clicks on disabled links */
  background-color: #ffffff; /* Darker shade for active page */
}
